@use "@angular/material" as mat;

:host {
  background: var(--mat-sys-surface-dim);
  color: var(--mat-sys-on-surface);
  border: 1px solid var(--mat-sys-outline-variant);
  font: var(--mat-sys-headline-large);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 60px;

  .navbar-logo {
    display: flex;

    a {
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .navbar-links {
    display: flex;
    gap: 1.5rem;

    a {
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
